/* Estilos generales para la sección de servicios */

.services-main {
  background-image: 
  url('https://images.unsplash.com/photo-1644088379091-d574269d422f?q=80&w=1393&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');

  background-repeat: repeat;
}


.hero-section-services {
  padding-top: 20vh;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-align: center;
  position: relative;
  overflow: hidden;
}


.hero-content-services {
  max-width: 900px;
  padding: 2rem;
  position: relative;
  z-index: 1;
}

.hero-title-services {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
  color: #ff7300;
  text-shadow: 5px 5px 6px rgb(0, 0, 0);
  animation: pulse 2s infinite alternate;
  text-align: left;
}

.hero-subtitle-services {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  line-height: 1.6;
  max-width: 700px;
  color: #ffffff;
  text-shadow: 6px 7px 7px rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

/* Estilos para todas las secciones de servicios */
.section-services {
  background: #3b82f6;
  padding: 5rem 0;
  position: relative;
}

.section-services .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.section-title-services {
  font-size: 2.5rem;
  color: #1e3a8a;
  margin-bottom: 1.5rem;
}



.section-subtitle {
  font-size: 1.25rem;
  color: #4b5563;
  margin-bottom: 2.5rem;
  line-height: 1.7;
  max-width: 700px;
}




/* Sección WiFi */

.wifi-section {
  background-image: url('https://cdn.pixabay.com/photo/2023/04/29/16/40/ai-generated-7958926_1280.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffffff;
  text-align: center;
  position: relative;
  overflow: hidden;

}




.wifi-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgb(0, 0, 0); 
  gap: 9rem;
  border-radius: 12px;
  padding: 3rem 2rem;
}

.wifi-features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 3rem;

  
}

.title-wifi {
  color: #ffffff; 
  text-align: left;

}


.subtitle-wifi {
color: #ffffff;
text-align: left;
}

.wifi-feature {
  background: rgba(0, 191, 255, 0.15); 
  border: 1px solid #00BFFF;
  border-radius: 12px;
  padding: 2rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.wifi-feature-icon {
  width: 48px;
  height: 48px;
  color: #00FFFF; /* Cian para ícono */
  margin-bottom: 1.5rem;
}

.wifi-feature h3 {
  font-size: 1.25rem;
  color: #FFFFFF; /* Blanco para el título */
  margin-bottom: 1rem;
}

.wifi-feature p {
  color: #CCCCCC; /* Gris claro para el párrafo */
  line-height: 1.6;
}

  .wifi-feature:hover {
    transform: translateY(-5px);
  }
















/* Sección redes Cableada */
.wired-section {
  background-image: 
  url('https://images.unsplash.com/photo-1644088379091-d574269d422f?q=80&w=1393&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.wired-content {
  display: flex;
  justify-content: center;
  background-color: #000;
  border-radius: 12px;
  padding: 3rem 2rem;
  flex-wrap: wrap;
  gap: 2rem;
}

/* Texto a la izquierda */
.wired-text-container {
  flex: 1 1 400px;
  max-width: 600px;
  color: #fff;
}

/* Galería a la derecha */
.wired-image-container {
  flex: 1 1 400px;
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
}

.wired-text-container>p{
  color: #ffffff;
  line-height: 1.6;
}

.wired-text-container>h2 {
  color: #00BFFF;

}

.wired-image {

  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 255, 255, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.wired-image:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 255, 255, 0.3);
}


/* Beneficios */
.wired-benefits {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.wired-benefit {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.wired-benefit-icon {
  width: 40px;
  height: 40px;
  color: #00FFD1;
}

.wired-benefit h3 {
  font-size: 1.25rem;
  color: #00BFFF;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.wired-benefit p {
  color: #ffffff;
  line-height: 1.6;
}














/* Sección Optimización */
.optimization-section {
  background-image: url('https://cdn.pixabay.com/photo/2023/04/29/16/40/ai-generated-7958926_1280.jpg');
  background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 color: #ffffff;
 text-align: center;
 position: relative;
 overflow: hidden;
}
.optimization-content {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
  background-color: #000000;
  padding: 4rem;
  border-radius: 12px;
}

.optimization-content>h2{
  color: #00BFFF;
  text-align: left;
}
.optimization-content>p{
  color: #ffffff;
  text-align: left;
}
.optimization-card {
  background: rgba(0, 17, 255, 0.08);
  backdrop-filter: blur(6px);
  border-radius: 12px;
  padding: 3rem;
  margin-top: 3rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  text-align: left;
}

.optimization-card h3 {
  font-size: 1.5rem;
  color: #00CFFF;
  margin-bottom: 1.5rem;
}

.optimization-card p,
.optimization-card ul li {
  color: #E0F7FA;
  line-height: 1.7;
}

.optimization-stat {
  background: rgba(0, 191, 255, 0.1);
  border-radius: 8px;
  padding: 1.5rem;
  text-align: center;
}

.optimization-stat-value {
  font-size: 2rem;
  font-weight: 700;
  color: #00CFFF;
  margin-bottom: 0.5rem;
}

.optimization-stat-label {
  color: #DDDDDD;
  font-size: 0.9rem;
}






/* Sección Monitorización */
.monitoring-section {
  background-image: 
  url('https://images.unsplash.com/photo-1644088379091-d574269d422f?q=80&w=1393&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.monitoring-content {
  max-width: 1300px;
  margin: 0 auto;
  background-color: #000000;
  border-radius: 12px;
  padding: 4rem 2rem;
  color: #ffffff;
}

.monitoring-content>h2{
  color: #00BFFF;
  text-align: left;
}
.monitoring-content>p{
  color: #ffffff;
  text-align: left;
}

.dashboard-title {
  color: #00BFFF;
  text-align: center;
  font-size: 1.5rem;
  margin: 2rem 0;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
  width: 100%;
}

.dashboard-item {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(6px);
  border: 1px solid rgba(0, 255, 255, 0.1);
  border-radius: 12px;
  padding: 1rem;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dashboard-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 255, 255, 0.2);
}

.dashboard-item img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 0.8rem;
}

.dashboard-caption {
  font-size: 0.95rem;
  color: #E0F7FA;
  font-weight: 500;
  text-transform: uppercase;
}


/* Sección Seguridad */
.security-section {
  background-image: url('https://cdn.pixabay.com/photo/2023/04/29/16/12/ai-generated-7958880_1280.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.security-title {
  color: #ffffff;
  text-align: left;
}

.security-subtitle {
  color: #ffffff;
  text-align: left;
}

.security-content {
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: #000000;
  gap: 9rem;
  border-radius: 12px;
  padding: 3rem 2rem;


}

.security-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  margin-top: 3rem;
}

.security-card {

  box-shadow: 0 4px 10px rgba(0, 255, 255, 0.05);
  text-align: center;
  background: rgba(0, 191, 255, 0.15); 
  border: 1px solid #00BFFF;
  border-radius: 12px;
  padding: 2rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.security-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px -3px rgba(0, 255, 255, 0.2),
              0 4px 6px -2px rgba(0, 255, 255, 0.1);
}

.security-card-icon {
  width: 48px;
  height: 48px;
  color: #00FFF0; 
  margin-bottom: 1.5rem;
}

.security-card-title {
  font-size: 1.25rem;
  color: #ffffff; 
  margin-bottom: 1rem;
}

.security-card-desc {
  color: #CCCCCC;
  line-height: 1.6;
}


/* Animaciones */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

@keyframes ripple {
  0% {
    transform: scale(0.8);
    opacity: 1;
  }
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}








/* Estilos para la sección de Soluciones Empresariales */
/* 
.solutions-sticky-bar {
  position: sticky;
  top: 20%;
  z-index: 1000;
  background: rgb(0, 0, 0); 
  padding: 1rem;
}

.solutions-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


.solutions-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.solutions-controls select {
  padding: 0.5rem 1rem;
  background: #288EED;
  color: #000000;
  font-size: 0.9rem;
  border-color: #000000;
  cursor: pointer;
  max-width: 320px;

  cursor: pointer;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.contact-button {
  background: #288EED;
  color: #000000;
  padding: 0.5rem 1.2rem;
  font-weight: 500;
  font-size: 0.9rem;
  max-width: 320px;
  text-decoration: none;
}



Responsive 
@media (max-width: 600px) {
  .solutions-controls {
    flex-direction: column;
    align-items: stretch;
  }

  .solutions-controls select {
    width: 100%;
    font-size: 0.85rem;
  }

  .solutions-controls option {
    white-space: normal; 
  }
}
*/






/* Responsive Design */
@media (max-width: 1024px) {
  .wifi-content, .wired-content {
    flex-direction: column;
    gap: 3rem;
  }
  
  .wired-image-container {
    display: none;
  }

  
  .section-title-services {
    font-size: 2rem;
  }
  
  .hero-title-services {
    font-size: 2.5rem;
  }
  
  .hero-subtitle-services {
    font-size: 1.25rem;
  }
}

@media (max-width: 768px) {
  .hero-section-services {
    padding-top: 13vh; /* Ajuste para header en móvil */
    min-height: 50vh;
  }
  

  .wifi-features, .security-cards {
    grid-template-columns: 1fr;
  }
  
  .optimization-stats {
    grid-template-columns: repeat(2, 1fr);
  }
  .wired-content {
    flex-direction: column;
    align-items: center;
  }

  .wired-text-container {
    max-width: 100%;
  }


  .wired-benefits {
    flex: 1;
    margin-top: 2rem;
  }
}

@media (max-width: 480px) {
  .hero-title-services {
    font-size: 2rem;
  }
  
  .hero-subtitle-services {
    font-size: 1.1rem;
  }
  
  .section-title-services {
    font-size: 1.75rem;
  }
  

  
  .optimization-stats {
    grid-template-columns: 1fr;
  }
  
  .optimization-card {
    padding: 2rem 1.5rem;
  }
}



/* Responsive Design */




@media (max-width: 480px) {

  


  
  .btn-services {
    padding: 0.6rem 1.2rem;
    font-size: 0.8rem;
  }
  .wired-image-container {
    grid-template-columns: 1fr;
  }

  .wired-image {
    margin-bottom: 1rem;
  }
} 



