@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-image: url('/IMAGENES/fondo-login.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    backdrop-filter: blur(2px);
}

.login-container {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 30%;
    padding: 30px;
    text-align: center;
    color: #ffffff;
    transition: transform 0.3s ease;
}

.login-container:hover {
    transform: translateY(-5px);
}

.login-container input {
    padding: 12px;
    border: none;
    border-radius: 10px;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.2);
    color: #000000;
    margin-bottom: 15px;
    font-size: larger;
    outline: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.login-container img {
    width: 100px;
    margin-bottom: 20px;
}

.login-container input:focus {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 10px rgba(40, 142, 237, 0.6);
}

.input-container {
    position: relative;
    width: 100%;
}

.icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    cursor: pointer;
}

.login-container button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(to right, #288EED, #00c6ff);
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.3s ease, transform 0.2s ease;
}

.login-container button:hover {
    background: linear-gradient(to right, #00c6ff, #288EED);
    transform: scale(1.03);
}

.error-message {
    color: #ff4c4c;
    margin-top: 10px;
}

@media (max-width: 900px) {
    .login-container {
        width: 65%;
        padding: 25px;
    }
}







